<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hubertyoung.component_developer">

    <application>
        <activity android:name="com.hubertyoung.developer.DebugActivity"
                  android:theme="@style/AppTheme.Preference.Ios">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>