<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hubertyoung.component_acfunmine">

    <application>
        <activity
            android:name=".sign.activity.SignInActivity"
            android:label="@string/title_activity_signin"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
