<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hubertyoung.component_gamecenter">

    <application>
        <activity
            android:name=".gamecenter.activity.GameCenterNativeActivity"
            android:label="@string/game_center_title"
            android:screenOrientation="portrait"/>
    </application>

</manifest>