<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hubertyoung.baseplatformlibrary">

    <application>
        <!-- 微博 -->
        <activity
            android:name="com.hubertyoung.weiboplatforms.platforms.weibo.WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>