<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hubertyoung.component_acfunmine">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.hubertyoung.common.CommonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/mine_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.sign.activity.SignInActivity"
            android:label="@string/title_activity_signin"
            android:windowSoftInputMode="stateHidden">

             <intent-filter>
             <action android:name="android.intent.action.VIEW"/>


             <category android:name="android.intent.category.DEFAULT"/>
             </intent-filter>
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="activity.MainActivity">

             <intent-filter>
             <action android:name="android.intent.action.MAIN"/>


             <category android:name="android.intent.category.LAUNCHER"/>
             </intent-filter>
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->

                <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".ui.setting.activity.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".debug.activity.DebugActivity"
            android:theme="@style/AppTheme.Preference.Ios">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.findpassword.activity.FindPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/find_password_text"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>