<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hubertyoung.component_backgroundjob">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application android:label="@string/component_backgroundjob">

        <service android:name="com.hubertyoung.backgroundjob.service.ScreenService" />

        <receiver
            android:name="com.hubertyoung.backgroundjob.WakeUpReceiver"
            android:process=":watch">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="com.hubertyoung.backgroundjob.CANCEL_JOB_ALARM_SUB"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.hubertyoung.backgroundjob.WakeUpReceiver$WakeUpAutoStartReceiver"
            android:process=":watch">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <service android:name="com.hubertyoung.backgroundjob.AbsWorkService$WorkNotificationService"/>

        <service
            android:name="com.hubertyoung.backgroundjob.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="true"
            android:process=":watch"/>

        <service
            android:name="com.hubertyoung.backgroundjob.WatchDogService"
            android:process=":watch"/>

        <service
            android:name="com.hubertyoung.backgroundjob.WatchDogService$WatchDogNotificationService"
            android:process=":watch"/>

    </application>


</manifest>